.slider-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0 20px 0;
  /* margin: 40px 30px 30px 20px; */
}

.tooltip {
  z-index: 100;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: left;
}