body {
  font-family: Microsoft JhengHei;
  padding: 20px;
}

#slider-wrapper {
  margin: 40px 40px 20px 40px;
}

#checkbox {
  position: absolute;
  right: 10px;
  top: 5px;
}

.box {
  position: relative;
  border: 1.5px solid #999;
  border-radius: 10px;
}

.panel-heading {
  margin-bottom: 10px;
}

#form {
  width: 100%;
  margin-bottom: 20px;
}

.detail {
  padding: 10px;
}

#detailDiv {
  overflow-y: scroll;
  height: 240px;
  font-size: 14px;
}

.dummy-text-wrapper {
  word-break: normal;
  display: inline-block;
  opacity: 0;
  position: absolute;
}

.tooltip {
  z-index: 100;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: left;
}